{% extends 'base.html' %}

{% block content %}
<h1 class="my-3">Задание к лабораторной работе № 3</h1>

<p>Разработайте веб-приложение с использованием фреймворка Flask. Реализуйте механизм аутентификации пользователей с
    использованием библиотеки Flask-Login. Реализация требуемого функционала была подробно рассмотрена на занятии Работа
    с сессией во Flask (06.11.2020).</p>

<p>
    <b>
        Для сдачи данной лабораторной работы требуется защитить её на занятии в Discord'е.
    </b>
</p>

<p>Выложите ваше веб-приложение на хостинг. В качестве ответа на это задание вам нужно указать ссылку на репозиторий с
    вашим решением и ссылку на ваше приложение на хостинге. В случае, если репозиторий закрытый, – не забудьте
    предоставить преподавателю доступ.</p>

{% endblock %}