{% extends 'base.html' %}

{% block content %}
  <h1>{{post.title}}</h1>
  <p> {{post.author}} {{post.date}}</p>

  <div class="row justify-content-center">
    <div class="col-md-8 d-flex">
        <img class="img-fluid rounded " src="{{ url_for('static', filename='images/' ~ post.image_filename) }}"
            alt="Card image cap">
    </div>

    <p class="py-5">
        {{ post.text }}
    </p>

    <div class="card col-md-12">
        <div class="card-header">
            Оставьте комментарий
        </div>
        <div class="card-body">
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <a href="#" class="btn btn-primary">Отправить</a>
        </div>
    </div>
<div class="card mt-3 pt-3 col-md-12">
  {% for comment in post.comments %}
  <div class="card media mb-2 p-2">
      <div class="pt-2 pb-2"style="display:flex">
      <img class="p-4 rounded-circle" src="{{ url_for('static', filename='images/av2.jpg') }}"
          alt="Generic placeholder image">
      <div class="media-body">
          <h5 class="mt-0">{{ comment.author }}</h5>
          <p class=" pl-2 rounded">{{comment.text}}</p>
        </div></div>
          <div class="media flex-wrap">
              {% for reply in comment.replies %}
              <div class="col-md-12 pl-5">
                <div class=""style="display:flex">
                  <a class="pr-4" href="#">
                      <img class="p-4 rounded-circle " src="{{ url_for('static', filename='images/av2.jpg') }}"
                          alt="Generic placeholder image">
                  </a>
                  <div class="media-body">
                      <h5 class="mt-0">{{ reply.author }}</h5>
                      <p class="bg-light pl-2 rounded ">{{ reply.text }}</p>
                  </div>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  {% endfor %}
  </div>
  </div>


{% endblock %}