{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Задание к лабораторной работе № 5</h1>

    <p>Реализуйте механизм аутентификации пользователей с использованием БД. </p>

    <p>
        <b>
            Для сдачи данной лабораторной работы требуется защитить её на занятии в Discord'е.
        </b>
    </p>

    <p>Выложите ваше веб-приложение на хостинг. В качестве ответа на это задание вам нужно указать ссылку на репозиторий с
        вашим решением и ссылку на ваше приложение на хостинге. В случае, если репозиторий закрытый, – не забудьте
        предоставить преподавателю доступ.</p>

{% endblock %}